.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: url("../../public/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  animation-name: zoom-out;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.animate {
  animation: zoom-out 4s forwards;
}

.backgroundImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow-y: hidden;
}

.textContainer {
  position: absolute;
  z-index: 10;
  text-align: center;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
}

.name {
  color: #fff;
  text-transform: uppercase;
  font-size: 66px;
  margin-bottom: 35px;
  letter-spacing: 10px;
  font-weight: 400;
  -webkit-text-stroke: 2px black;
  font-weight: bold;
}

.description {
  color: #fff;
  font-size: 25px;
  margin-bottom: 55px;
  font-weight: 200;
  letter-spacing: 5px;
  line-height: 35px;
  font-weight: bold;
}

.comingSoon {
  color: #fff;
  text-transform: uppercase;
  font-size: 100px;
  -webkit-text-stroke: 1px black;
}

@media (max-width: 700px) {
  .name {
    font-size: 35px;
    -webkit-text-stroke: 1px black;
  }

  .description {
    font-size: 15px;
    -webkit-text-stroke: 0.005rem black;
    line-height: 23px;
  }

  .comingSoon {
    font-size: 45px;
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
